
body{
    height: 100vh;
    max-height: 100%;
}

#hero{  
    grid-column-start: 1;
    grid-column-end: 3;
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;
}

.mobileFeature{
    width: 100vw;
    max-height: 150px;
    object-fit: fill; 
    max-width: 100%;

}
.disappearing{
    width: 100vw;
    object-fit: fill; 
    max-height: 150px;
    max-width: 100%;
}


main{
    padding-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    display: grid;
    height: calc(100vh - 40px);
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    max-height: 100%;
    background-color: #596475;
}

#whyUs{
    text-align: center;
    float: left;
    color: #fde8e9;
}

#callToAction{
    text-align: center;
    float:left;
    color: #fde8e9;
}

@media (min-width: 600px) {
    .mobileFeature{
        display: none
    }

}
@media (max-width: 600px) {
    .disappearing{
        display: none
    }

}