header {
    position: fixed;
    top: 0px;
    width: 100vw;
    height: 40px;
    background-color: #1f2232;

}

a:link, a:visited{
    text-decoration: none;
    color: var(--pink);

}

a:hover, a:focus{
    color: var(--light-pink);
    text-decoration: underline;
}
a:active{
    font-weight: bolder;
}

:root {
    --primary-color: #bc9ec1;
    --pink: #e3bac6;
    --light-pink: #fde8e9;
    --gray: #596475;
    --purple: #1f2232;
}

h1 {
    width: 150%;
    text-shadow: -5px 0px #bc9ec1;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-style: italic;
    margin: 20px;
    color: #fde8e9;
}

*{
    font-family: Arial, Helvetica, sans-serif
}

body {
    background-color: #1f2232;
}

footer {
    position: fixed;
    bottom: 0px;
    width: 100vw;
    background-color: #1f2232;
    height: 20px;
    font-family: 'Montserrat', sans-serif;
    color: #fde8e9;
    background-color: var(--mdc-theme-primary);
}

nav { 
    font-family: 'Montserrat', sans-serif;
    display: flex;
    height: 100%;
    
}

nav ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center; 

}



#copyright {
    position: absolute;
    display: flex;
    bottom: 0px;
    right: 20px;
    width: 100vw;
    justify-content: flex-end;
    font-size: 10px;
 
}

