
body{
    height: 100vh;
    max-height: 100%;
}

#hero{  
    grid-column-start: 1;
    grid-column-end: 3;
    max-height:30vh;
    max-width: 100vw;
    overflow: hidden;
}

.mobileFeature{
    width: 100vw;
    max-height: 150px;
    object-fit: fill; 
    max-width: 100%;

}
.disappearing{
    width: 100vw;
    object-fit: fill; 
    max-height: 150px;
    max-width: 100%;
}



#whyUs{
    text-align: center;
    float: left;
}

#callToAction{
    text-align: center;
    float:left;
}

header {
    position: fixed;
    top: 0px;
    width: 100vw;
}

a:link, a:visited{
    text-decoration: none;
    color: var(--mdc-theme-on-primary);

}

a:hover, a:focus{
    color: var(--light-pink);
    text-decoration: underline;
}
a:active{
    font-weight: bolder;
}

:root {
    --primary-color: #bc9ec1;
    --pink: #e3bac6;
    --light-pink: #fde8e9;
    --gray: #596475;
    --purple: #1f2232;
}

h1 {
    width: 150%;
    text-shadow: -5px 0px var(--gray);
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-style: italic;
    color: var(--purple);
}

*{
    font-family: Arial, Helvetica, sans-serif
}


footer {
    position: fixed;
    bottom: 0px;
    width: 100vw;
    height: 64px;
    font-family: 'Montserrat', sans-serif;
    color: var(--mdc-theme-on-primary);
    background-color: var(--mdc-theme-primary);
}

.space-between{
    justify-content: space-between;
}

#copyright {
    position: absolute;
    display: flex;
    bottom: 24px;
    right: 10px;
    width: 100vw;
    justify-content: flex-end;
    font-size: 12px;
 
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }


.checkboxes {
display: flex;
justify-content: center;
align-items: right;
vertical-align: middle;
word-wrap: break-word;
}

nav { 
    font-family: 'Montserrat', sans-serif;
    display: flex;
    
}

nav ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center; 
    font-size: 18px;
}

.elig-card{
    margin-top: 12px;
    margin-bottom: 65px;
    padding: 30px
}


.displayNone{
    display: none;
}
  
.displayFlex{
    display: flex;
}
  